name: Frontend CD

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  deploy:
    name: Deploy Frontend to Render
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # required to push

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install frontend dependencies
        working-directory: frontend
        run: npm install

      - name: Build production
        working-directory: frontend
        run: npm run build

      - name: Trigger Render deploy
        uses: jakejarvis/render-deploy-action@v1
        with:
          api_key: ${{ secrets.RENDER_API_KEY }}
          service_id: ${{ secrets.RENDER_FRONTEND_SERVICE_ID }}
          branch: main
          directory: frontend/dist
